.container {
  text-align: center;
}
.toggle-switch {
  position: relative;
  width: 70px;
  display: inline-block;
  text-align: left;
  z-index: 10;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 6px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.inner:before {
  content: "YES";
  padding-left: 10px;
  background: linear-gradient(94.82deg, #FDA9FF -5.19%, #4DFFE5 133.43%);
  color: #fff;
}

.inner:after {
  content: "NO";
  padding-right: 10px;
  color: #fff;
  text-align: right;
  background: #DDEEFF;
}

.linner-dark::after {
  background: var(--umee-mid-grey-on-navy);
}

.switch {
  display: block;
  width: 14px;
  position: absolute;
  background-color: var(--umee-color-primary);
  height: 14px;
  border: 0 solid #bbb;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 1px 1px 4px 0px #00000040;
  left: -1px;
}

.switch-dark {
  background-color: var(--umee-dark-grey-on-navy);
}

.toggle-switch.checked .label .inner {
  margin-left: 0;
}
.toggle-switch.checked .label .switch {
  right: 0px;
  left: unset;
}

.toggle-switch.checked .label .switch {
  background: linear-gradient(113.82deg, #FDA9FF -124.68%, #4DFFE5 103.28%);
}
